{{#if template}}
<template>
  <div>
  </div>
</template>
{{/if}}

{{#if script}}
<script>
export default {
  name: '{{ properCase name }}',
  data() {
    return {}
  },
  props: {},
  methods: {}
  created() {},
  mounted() {},
  computed: {},
  watch: {},
  components: {},
  beforeDestroy() {},
}
</script>
{{/if}}

{{#if style}}
<style lang="scss" scoped>

</style>
{{/if}}
